:root {
  --lightgray: #F6F6F2;
  --mint: #C2EDCE;
  --lightblue: #BADFE7;
  --teal: #6FB3B8;
  --darkteal: #388087;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--darkteal);
  font-family: 'Sora', sans-serif;
}

html {
  height: 100%;
}

body {
  line-height: 1;
  background-color: var(--lightgray);
}

header {
  background-color: var(--lightblue);
  padding: 20px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 20px;
}

header h1 {
  background-color: var(--lightblue);
  color: var(--darkteal);
  padding: 10px;
}

